In [26]:
#pip install pyspark

In [27]:
import pyspark

Creating spark session for sql support

In [28]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("test").getOrCreate()

data = spark.read.csv("project_spark.csv", sep= ";", header=True)
data.show()

+----+---+------+
|Name|Age|Salary|
+----+---+------+
|  AA| 20| 45000|
|  BB| 30| 60000|
|  CC| 40| 80000|
+----+---+------+

Operations similar to **Pandas**

In [34]:
print(data.printSchema(), "\n")
print(data.columns,"\n")
print(data.select(["Name", "Age"]).show(), "\n")
print(data.describe(),"\n")
print(type(data))

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Salary: string (nullable = true)

None

['Name', 'Age', 'Salary']

+----+---+
|Name|Age|
+----+---+
|  AA| 20|
|  BB| 30|
|  CC| 40|
+----+---+

None

DataFrame[summary: string, Name: string, Age: string, Salary: string]

<class 'pyspark.sql.dataframe.DataFrame'>

**DataFrame Operations to modify or perform transformations**

Reading the data in spark,
Adding columns,
Dropping columns,
Renaming Columns,

Adding a modified column

In [44]:
# After 3 years of working in the firm

forecast = data.withColumn("Future Salary Scope", data["Salary"] +3*5000)
forecast.show()

+----+---+------+-------------------+
|Name|Age|Salary|Future Salary Scope|
+----+---+------+-------------------+
|  AA| 20| 45000|            60000.0|
|  BB| 30| 60000|            75000.0|
|  CC| 40| 80000|            95000.0|
+----+---+------+-------------------+

Dropping a Column

In [49]:
new_data = forecast.drop("Salary")
new_data.show()

+----+---+-------------------+
|Name|Age|Future Salary Scope|
+----+---+-------------------+
|  AA| 20|            60000.0|
|  BB| 30|            75000.0|
|  CC| 40|            95000.0|
+----+---+-------------------+

Rename the columns

In [51]:
renamed_data = new_data.withColumnRenamed("Future Salary Scope", "Forecasted Salary in 3 years")
renamed_data.show()

+----+---+----------------------------+
|Name|Age|Forecasted Salary in 3 years|
+----+---+----------------------------+
|  AA| 20|                     60000.0|
|  BB| 30|                     75000.0|
|  CC| 40|                     95000.0|
+----+---+----------------------------+